@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #fff
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}


/*************************
*******Header CSS******
**************************/

.navbar-fixed-top {
  background-color: #ED1664;
  height: 60px;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  height: 60px;
  padding: 0;
}


/*************************
*******Home CSS******
**************************/

#home {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  height: 600px;
}

#main-slider img {
  width: 100%
}

#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #016F92;
  bottom: 40%;
  float: left;
  left: 0;
  opacity: 0.9;
  padding:30px 20px 30px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}


#main-slider 
.carousel-caption h2 {  
  font-size: 70px;
 
}

#main-slider 
.carousel-caption h4 {
  font-size: 40px;
}

#main-slider 
.carousel-caption a {
  font-size: 30px;
  color: #ED1664;
  font-weight: bold;
}

#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}

#main-slider 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}

/*************************
*******Explore CSS******
**************************/

#explore {
  background-color: #D6DF20;
  position: relative;
  padding: 50px 0 50px 0
}

#explore h2 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
#explore h3 {
  font-size: 30px;
  text-align: center;
  color: #016F92;
  margin: 20px 20px 0 20px;
}


 /*************************
*******Event CSS******
**************************/
#about {
  background-color: #016F92;
  position: relative;
   display: flex;

}

.about-content {
  padding: 70px 10px 70px 70px;
}

.about-content p {
  font-size: 24px;
  font-family: 'Dosis',sans-serif;
}

.about-img {
  height: 300px;
  padding:70px 70px 70px 10px ;
}
.about-img img {
  height: 300px;
}

/*************************
*******About CSS**********
**************************/

#event {
  background-color: #ED1664;  
  position: relative;  
  width: 100%;
  text-align: center;
  padding: 10px;
}

#event h1{
  font-size: 50px;
  font-weight: bold;
}

.events {
  display: flex;
  margin-left: 12%;
  padding-bottom: 30px;
}

.event-content {
  text-align: center;
  padding: 10px 70px 50px 70px;
  background-color: #D6DF20;
  width: 40%;
  margin-right: 10px;
  margin-left: 10px;
}

.event-content h2 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.event-content p {
  font-size: 24px;
  font-family: 'Dosis',sans-serif;
}
.event-content h4{
  margin-top: 30px;
}


/*************************
******Twitter CSS****
**************************/

#twitter {
  background-color: #ecedef;
  position: relative;
  padding: 95px 0 90px;
  overflow: hidden;
}

#twitter-feed .item {
  text-align: center;
}

#twitter-feed .item img {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #c5c8ce;
  padding: 5px;
  margin-bottom: 30px;
}

#twitter-feed .item a, 
#twitter-feed .item p { 
  font-size: 24px;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz','sans-serif';
}

#twitter-feed .item p {
  color: #3D3D3D;
}

#twitter-feed .item a {
  color:#00c3ff;
}

.twitter-control-left, 
.twitter-control-right {
  position: absolute;
  color: #00c3ff;
  top: 59%;
  font-size: 24px
}

.twitter-control-left {
  left: 0;
}

.twitter-control-right {
  right:0;
} 



/*************************
******Sponsor CSS****
**************************/

#sponsor {
  background-color: #D6DF20;
  position: relative;
}

#sponsor .col-sm-10 {
  z-index: 10;
}

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
}

#sponsor .item ul {
  font-size: 0;
  padding: 0;
}


#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px;
}

#sponsor .item ul li:last-child {
  margin-right: 0
}

.sponsor-control-left, 
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%;
}

.sponsor-control-left {
  right: 12%
}

.sponsor-control-right {
  right: 10%
}


/*************************
******Map CSS****
**************************/
#map {
  position: relative;
}

#gmap {
  height:450px;  
}


/*************************
******Contact CSS****
**************************/

.contact-section {
  background-color: #016F92; 
  position: relative;
}

#contact .container {
  padding-top:47px;
}

#contact h3 {
  text-transform:inherit;
  color: #373737; 
}

#contact-section h3 {  
  margin-bottom: 25px
}

#contact address {
  font-size: 18px;  
  color: #373737; 
}

.contact-text {
  margin-bottom: 35px;
  display: block;
}


#contact-section .form-control {
  border-color: #ae750d;
  box-shadow:none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px;
}

#contact-section .form-control:focus {
  border-color: #ae750d;
}

#contact-section input {  
  height: 44px;
}

#contact-section textarea {
  height: 90px;
  resize:none;
}

#contact-section .btn-primary {
  background-color: #373737;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px
}

#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
}



/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #212121;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}


